body {
    margin: 0;
    font-family: 'Ubuntu';
    font-size: 1.125rem;
    font-weight: 400;
}

img {
    max-width: 100%;
}

.blog-image {
    margin: 0;
    display: block;
}

a {
    text-decoration: none;
    font-size: 1.175rem;
    font-weight: bold;
    color: #143774;
}

a:hover,
a:focus {
    color: #1792d2;
}

/* --
Typography
-- */
h1, h2 {
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-weight: bold;
color: #143774;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.5rem;   
}

/* --
Layout
-- */

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.container-flex {
    display: flex;
    justify-content: space-between;
}


header {
    background: rgb(7, 7, 240);
    padding: 2em 0;
    margin-bottom: 1em;
}

footer {
    background: rgb(7, 7, 240);
    text-align: center;
    margin-top: 1em;
    padding: 2em 0;
}

/* navigation */

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 1em;
}

nav a {
    text-decoration: none;
    color: #ffff;
    font-weight: bold;
    padding: .25em 0;
}

nav a:hover,
nav a:focus {
    color: red;
    text-decoration: underline;
}

/* col */

.col-one {
    border: 1rem solid rgb(7, 7, 240);
}

.col-seven {
    border: 1rem solid rgb(7, 7, 240);
}

.col-three, .col-five {
    border-left: 1rem solid rgb(7, 7, 240);
    border-right: 1rem solid rgb(7, 7, 240);
}


.col-two, .col-three, .col-four, .col-five, .col-six {
    border-top: 1rem solid rgb(7, 7, 240);
    border-bottom: 1rem solid rgb(7, 7, 240);
}



/* media query */

@media (max-width: 768px) {
    .container-flex {
        flex-direction: column;
    }
    header {
        text-align: center;
    }

    nav ul {
        flex-direction: column;
    }
    
    nav li {
        margin: .5em 0;
    }

    .col-two, .col-four, .col-six {
        border-top: none;
        border-bottom: none;
        border-right: 1rem solid rgb(7, 7, 240);
        border-left: 1rem solid rgb(7, 7, 240);
    }
}

@media (max-width: 320px) {
    header {
        background: rgb(15, 176, 240);
    }
    
    footer {
            background: rgb(15, 176, 240);
            
    }
}
